:80 {
    root * /usr/share/caddy

    # Proxy para app1
    handle_path /c2/* {
        reverse_proxy app1:8000
    }

    # Proxy para app2
    handle_path /c3/* {
        reverse_proxy app2:8001
    }

    # Servir la página de bienvenida con enlaces a app1 y app2
    file_server {
        index index.html
    }
}
